.table-container{
    /* background-color: red; */
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    padding: 16px; 
}

/* .text-2xl.font-bold.mb-4 {
    font-size: 24px;
    margin: 0;
} */
.heading {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 16px;
    width: 100%;
}
.page-title {
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 16px;
    margin: 0;
    color:  #566a7f;
}
.search-input,
.filter-select {
    height: 40px;
    margin-right: 8px;
    box-sizing: border-box;
}
.search-input {
    flex: 1;
    padding: 8px; 
    border: 1px solid #dddedf; 
    border-radius: 4px; 
    margin-bottom: 8px;
    color: #566a7f;
}

input[type="text"]:focus {
    border: 2px solid;
    border-color: #566a7f; /* Change this to the desired color */
    outline: none; /* Remove the default outline */
}

.filter-select {
    padding: 8px; 
    border: 1px solid #dddedf; 
    border-radius: 4px;
    color: #566a7f;
}

.filter-select:focus {
    border: 2px solid;
    border-color: #566a7f;
    outline: none;
}
.table tr:hover {
    background-color: rgba(80, 119, 165, 0.1); /* Light blue background on hover */
    transition: background-color 0.2s ease;
}

.table tr {
    cursor: pointer;
}
.buttons {
    background-color: #5077A5; 
    color: white; 
    padding: 8px 16px; 
    border: none; 
    border-radius: 4px; 
    margin-right: 8px;
}
.buttons:hover {
    background-color: rgba(53, 192, 247, 0.3);
    color: #09b3e4;
}
.table {
    width: 100%; 
    border-collapse: collapse; 
    margin-bottom: 16px; 
}

.th-class {
    padding: 8px;
    text-align: left;
    color: #566a7f;
    background-color: rgba(53, 192, 247, 0.3);
}

.td-class {
    padding: 8px;
}
#tableBody{ 
    color: #566a7f;
}
#tableBody tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray */
}

/* Style for odd rows */
#tableBody tr:nth-child(odd) {
    background-color: #ffffff; /* White */
}

.no-items {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.pagination {
    font-size: 12px;
    color:#566a7f;
}
.page-btns {
    display: flex;
    justify-content: center;
    margin-bottom: -5px;
}
.page-btns a {
    text-decoration: none;
    color:#566a7f;
    border: 1px solid #697a8d;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color:#f2f2f2;
}

.pg-active {
    border: 1px solid #697a8d;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    color:#566a7f;
    background-color: rgba(53, 192, 247, 0.3);
}
.page-btn {
    color: #b0b0b0;
    border: 1px solid #b7b7b7;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color:#f2f2f2;
} 


.card {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.table {
    margin-top: 20px;
}

/* Notification Box */
.notification-box {
    background-color: #D6EFD8; /* Green for success */
    color: #347928;
    padding: 17px;
    position: fixed;
    top: 20px;
    right: -300px; /* Initially hide off-screen to the right */
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.5s ease-out, right 0.5s ease-out;
}

/* Sliding in from the right */
.slide-in {
    right: 20px; /* Bring it into view */
}

/* Sliding out to the right */
.slide-out {
    right: -300px; /* Move it off-screen */
}

/* Hidden by default */
.hidden {
    display: none;
}

/* Close button for the notification */
.notification-box .close-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-style: 'Poppins';
}

